<section id="mainContent">
	<div id="sidebarWrapper" class="sideNav">
		<a href="#">Lorem</a>
		<a href="#">Lorem</a>
		<a ng-click="logout()">Logout</a>
	</div>
	<div id="mainContainer" class="mainContentWrapper">
 			<span id="sideToggle" class="openbtn sidebarToggle">&#9776;</span>
 			<div class="calendarWrapper">
 				<div class="monthCalendarWrapper" ng-controller="monthCalCtrl">
 					<div class="monthCalendarHeader">
 						<div class="monthWeekShort">
 							MON
 						</div>
 						<div class="monthWeekShort">
 							TUE
 						</div>
 						<div class="monthWeekShort">
 							WED
 						</div>
 						<div class="monthWeekShort">
 							THU
 						</div>
 						<div class="monthWeekShort">
 							FRI
 						</div>
 						<div class="monthWeekShort">
 							SAT
 						</div>
 						<div class="monthWeekShort">
 							SUN
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay mon">
 							{{date1 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay tue">
 							{{date2 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay wed">
 							{{date3 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay thu">
 							{{date4 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay fri">
 							{{date5 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay sat">
 							{{date6 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay sun">
 							{{date7 | date:'d'}}
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay">
 							{{date8 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date9 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date10 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date11 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date12 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date13 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date14 | date:'d'}}
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay">
 							{{date15 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date16 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date17 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date18 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date19 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date20 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date21 | date:'d'}}
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay">
 							{{date22 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date23 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date24 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date25 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date26 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date27 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date28 | date:'d'}}
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay">
 							{{date29 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date30 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date31 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date32 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date33 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date34 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date35 | date:'d'}}
 						</div>
 					</div>
 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay">
 							{{date36 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date37 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date38 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date39 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date40 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date41 | date:'d'}}
 						</div>
 						<div class="monthCalendarDay">
 							{{date42 | date:'d'}}
 						</div>
 					</div>
 				</div>
 			</div>
	</div>	
</section>	