<section id="mainContent" ng-init="generateCalendar()">
	<div id="sidebarWrapper" class="sideNav">
		<div class="singleMenuGroup">
			<span class="menuTitle">Tasks</span>
			<ul class="menuList">
				<li>Add new task</li>
				<li ng-click="tasks()">Tasks list</li>
			</ul>
		</div>
		<div class="singleMenuGroup">
			<span class="menuTitle">Meetings</span>
			<ul class="menuList">
				<li>Add new meeting</li>
				<li ng-click="meetings()">Meetings list</li>
			</ul>
		</div>
		<div class="singleMenuGroup">
			<span class="menuTitle">Account</span>
			<ul class="menuList">
				<li ng-click="logout()">Logout</li>
			</ul>
		</div>

	</div>
	<div id="mainContainer" class="mainContentWrapper">
 			<div class="calendarWrapper">
 			<div class="monthPick">
 				<button ng-click="prevMonth()">&lt;</button>
 				<p> {{month}}</p>
 				<button ng-click="nextMonth()">&gt;</button> 
 				<button ng-click="actualMonth()">Today</button>
 			</div>
 				<div class="monthCalendarWrapper">
 					<div class="monthCalendarHeader">
 						<div class="monthWeekShort" ng-repeat="days in weekdays">
 							{{days.shortName}}
 						</div>
 						
 					</div>
 					

 					<div class="monthCalendarRow">
 						<div class="monthCalendarDay otherMonth" ng-repeat="date in prevMonthDays">
 							{{date.day | date:'d'}}

 						</div>
 						<div class="monthCalendarDay" ng-class="date.today==true ? 'today' : ''" ng-class="{today: date.today}" ng-repeat="date in days">
							 {{ date.day | date:'d'}}</br>
							 <span ng-style="{ visibility: date.taskCount > 0 ? '' : 'hidden'}"  ng-click="tasks(date.day)">TASKI: {{date.taskCount}}</span></br>
							 <span ng-style="{ visibility: date.meetCount > 0 ? '' : 'hidden'}"  ng-click="meetings()">MEET: {{date.meetCount}}</span></br>
 							<br>
 						</div>
 					</div>
 				</div>
 			</div>
	</div>	
</section>	