<div class="tasksWrapper">
    <h1>List of Tasks</h1>
    <ul class="tasksControls">
        <li class="singleControl" ng-click="showModal = true; addButton = true">Add task</li>
    </ul>
    <ul class="tasksTitleList" >
        <li ng-repeat="task in Tasks">
            <div class="singleTask">    
                <div class="singleTask__header" ng-click="showDetails = ! showDetails" ng-mouseover="controls = true" ng-mouseleave="controls = false" >
                    <div  class="singleTask__headerInner">
                        <span  class="taskTitle font500">{{$index+1}}.{{task.title}}</span> <span class="taskID font400">ID: {{task._id}}</span><span class="taskControls" ng-show="controls"><span class="singleTaskControl edit" data="{{task._id}}" ng-click="editTask($event);"></span><span class="singleTaskControl delete" data="{{task._id}}" ng-click="removeThis($event)"></span></span>
                    </div>
                </div>
                <div class="singleTask__moreWrapper"  ng-show="showDetails">
                    <p><span class="font500">Start Date:</span> {{task.startDate}} </p>
                    <p><span class="font500">Start Time:</span> {{task.startTime}} </p>
                    <div class="guestsBase">
                    <span class="font500">Guests:</span>
                    <ul class="guestsList">
                        <li class="guest" ng-repeat="guest in task.guests"> 
                            <span ng-if="guest.flag == 'pending' && guest.id == task.user" style="font-weight: 700">{{guest.login}} ({{guest.flag}}) 
                                <span style="color: green;">Accept</span> | <span style="color: #bc0000">Decline</span>
                            </span>
                            <span ng-if="guest.flag == 'rejected'" style="text-decoration: line-through;">{{guest.login}} ({{guest.flag}}) </span>                          
                            
                            <span ng-if="guest.flag == 'accepted' || (guest.flag == 'pending' && guest.id != task.user)">{{guest.login}} ({{guest.flag}})</span>
                        </li>
                    </ul>
                    </div>

                    <p><span class="font500">Description:</span></p>
                    <p class="desc">{{task.description}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="modalBox" ng-model="modalBox" ng-show="showModal">
    <div class="modalWrapper">
        <div class="modalInner">
            <div class="singleInput">
                <label for="taskName">Task name</label>
                <input id="taskName" ng-model="taskName" name="taskName"/>
            </div>
            <div class="singleInput">
                <label for="startDate">Start date</label>
                <input type="date" ng-model="date" id="date" name="date"/>
            </div>
            <div class="singleInput">
                <label for="startDate">Start time</label>
                <input type="time" ng-model="time" id="time" name="time"/>
            </div>
            <div class="singleInput">
                <label for="guestsList">Guests</label>
                <input ng-model="guestsList" id="guestsList" name="guestsList"/>

            </div>
            <div class="singleInput">
                <label for="description">Description</label>
                <textarea id="description" ng-model="description" name="description"></textarea>
            </div>
            <div class="singleInput">
                <button  ng-show="editButton" ng-click=" saveEditedTask(); showModal=false; editButton = false; clearInputFromAddTask(); ">Edit</button>
                <button ng-show="addButton" ng-click=" saveTask(); showModal=false; addButton = false; clearInputFromAddTask();">Add</button>
            </div>
        </div>
    </div>
</div>