$black: #212121;
$gray: #7D8193;
$darkred: #8e352e;
$yellow: #FFE570;
$coffe: #C0AB96;
$white: #f1f1f1;


@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');

// FONT WEIGHT

.font500 {
  font-weight: 500;
}
.font700 {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }


html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.monthPick{
  margin-left: 10px;
  padding-top: 5px;
  width: 180px;
  height: 30px;

  button{
    display: block;
    width: 30px;
    height: 20px;
    background-color: $white;
    border: 1px solid $black;
    border-radius: 5px;
    float: left;
  }
  p{
    display: block;
    color: $white;
    font-weight: 300;
    float: left;
    line-height: 20px; 
    padding: 0 10px;
    @media screen and (max-width: 768px){
      padding: 0;
      margin: 0;
    }
  }
  @media screen and (max-width: 768px){
    margin: 0 auto;
  }
}


.loginWrap{
  width: 100vw;
  height: 100vh;
  background-color: $white;
  .loginWrapper {
    width: 400px;
    height: 100%;
    position:relative; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    display:table;
    overflow: hidden;
    margin: 0 auto;

      .loginBox{
      padding: 0 50px;
      display: table-cell;
      vertical-align: middle;
      margin: 0 auto;
      width: 400px;
      text-align: left;

      h1{ 
        padding-bottom: 10px;
      }

      .form-control{
        border: 1px solid $black;
        color: $black;
        border-radius: 10px;
        background-color: #ffffff;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }

      button{
        background-color: #ffffff;
        border-radius: 10px;
        outline: none;
        line-height: 22px;
        display: block;
        margin: 10px auto;
        border: 1px solid black;
      }


    }
  }
}


.registerWrap{
  width: 100vw; height: 100vh;
  background-color: $white;  
  .registerWrapper{
    width: 400px;
    height: 100%;
    position:relative; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    display:table;
    overflow: hidden;
    margin: 0 auto;
    .registerBox{
      padding: 0 50px;
      display: table-cell;
      vertical-align: middle;
      margin: 0 auto;
      width: 400px;
      text-align: left;
      h1{ 
        padding-bottom: 10px;
      }

      .form-control{
        border: 1px solid $black;
        color: $black;
        border-radius: 10px;
        background-color: #ffffff;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }

      button{
        background-color: #fff;
        border-radius: 10px;
        outline: none;
        line-height: 22px;
        display: block;
        margin: 10px auto;
        border: 1px solid black;
      }

      }
  }
}

.sideNav{
  width: 250px;
  height: 100%;
  position: fixed;
  transition: .5s;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  background-color: #333;
  overflow-x: hidden;

  @media screen and (max-width: 768px){
    width: 120px;
  }

  .singleMenuGroup{
    display: block;
    .menuTitle{
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      display: block;
      font-weight: 500;
      font-size: 18px;
    }
    .menuList{
      text-align: center;
      padding: 15px 0;
      color: #777;
      li{
        padding: 5px 0;
        cursor: pointer;
        transition: 0.4s ease-in;
        &:hover{
          transition: 0.2s ease-out;
          color: #fff;
        }
      }
    }
  }


  a{
  color: $gray;
  display: block;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 25px;
  transition: .3s;
  }
}
.mainContentWrapper{
  display: block;
  transition: margin-left .5s;
  margin-left: 250px;
  background-color: #37474F;
  @media screen and (max-width: 768px) {
    margin-left: 120px;
  }
}

.calendarWrapper{
  height: 100%;
  padding-top: 10px;
  transition: 0.3s;
}


.monthCalendarWrapper{
  display: block;
  margin: 10px;
  height: auto;
  min-height: 760px;


    .monthWeekShort{
      display: block;
      text-transform: uppercase;
      float: left;
      width: 14.285%;
      background-color: $darkred;
      color: $gray;
      text-align: center;
      font-size: 16px;
      line-height: 40px;
    }

    .monthCalendarRow{
      display: block;
      height: 100%;
    }

    .monthCalendarDay{
      display: block;
      float: left;
      height: 120px;
      width: 14.285%;
      padding: 2px 2px;
      background-color: #EEEEEE;
      border-left: 1px solid #bcf;
      border-top: 1px solid #bcf;
      text-align: right;
    }

    @media screen and (max-width: 768px) {
      .monthCalendarDay{
        clear: both;
        height: 100%;
        width: 100%;

      }

      .monthWeekShort{
        display: none;
      }
    }

    .otherMonth{
      background-color: #9E9E9E;
    }
}

.dayNumber{
  display: block;
  width: 25px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: #212121;
  color: #EEEEEE;
  border-radius: 10px;
}


// TASKS

.tasksWrapper{
  display: block;
  width: 100%;
  padding: 15px;
  h1{
    font-size: 25px;
    color: #000;
    font-weight: 700;
    padding-bottom: 25px;
  }
  .tasksControls{
      .singleControl{
        background: #000;
        color: #fff;
        padding: 10px 15px;
        display: inline-block;
        cursor: pointer;
        transition: 0.4s ease-in;
        &:hover{
          transition: 0.2s ease-out;
          background: #333
        }
      }
    }
}

.tasksTitleList, .meetingsTitleList{
  display: table;
  width: 100%;
  li{
    display: inline-block;
    width: 100%;
    border: 1px solid #000;
    color: #fff;
    margin: 5px 0;
    
  }

  @media screen and (max-width: 768px){

  } 
}
.singleTask__header{
      display: table;
      width: 100%;
      height: 50px;
      background-color: #8e352e;
      cursor: pointer;
      padding-left: 15px;
      transition: 0.4s ease-in;
      &:hover{
        background-color: #8c5d59;
        transition: 0.2s ease-out;
      }
      .singleTask__headerInner{
        display: table-cell;

        vertical-align: middle;
      }
      span.taskTitle{
        font-size: 18px;
        text-transform: uppercase;        
      }
      span.taskID{
        font-size: 10px;
        color: #ccc       
      }
      span.taskControls{
        float: right;
        span.singleTaskControl{
          padding: 0 15px;
          display: inline-block;
          
          vertical-align: middle;
          &.edit{
            background: url('../svg/edit.svg') no-repeat;
            fill: #fff;
            width: 30px;
            height: 18px;
          }
          &.delete{
            background: url('../svg/delete.svg') no-repeat;
            fill: #fff;
            width: 30px;
            height: 19px;
          }
        }        
      }
    }
.singleTask__moreWrapper, .singleMeeting__moreWrapper{
  width: 100%;
  height: auto;
  display: block;
  padding: 15px;
  color: #212121;
  p{
    padding: 10px 0;
    &.desc{
      line-height: 23px;
    }
  }
}

// MEETING

.meetingsWrapper{
  display: block;
  width: 100%;
  padding: 15px;
  h1{
    font-size: 25px;
    color: #000;
    font-weight: 700;
    padding-bottom: 25px;
  }
  .meetingsControls{
      .singleControl{
        background: #000;
        color: #fff;
        padding: 10px 15px;
        display: inline-block;
        cursor: pointer;
        transition: 0.4s ease-in;
        &:hover{
          transition: 0.2s ease-out;
          background: #333
        }
      }
    }
}

.singleMeeting__header{
      display: table;
      width: 100%;
      height: 50px;
      background-color: #8e352e;
      cursor: pointer;
      padding-left: 15px;
      transition: 0.4s ease-in;
      &:hover{
        background-color: #8c5d59;
        transition: 0.2s ease-out;
      }
      .singleMeeting__headerInner{
        display: table-cell;

        vertical-align: middle;
      }
      span.meetingTitle{
        font-size: 18px;
        text-transform: uppercase;        
      }
      span.meetingID{
        font-size: 10px;
        color: #ccc       
      }
      span.meetingControls{
        float: right;
        span.singleMeetingControl{
          padding: 0 15px;
          display: inline-block;
          
          vertical-align: middle;
          &.edit{
            background: url('../svg/edit.svg') no-repeat;
            fill: #fff;
            width: 30px;
            height: 18px;
          }
          &.delete{
            background: url('../svg/delete.svg') no-repeat;
            fill: #fff;
            width: 30px;
            height: 19px;
          }
        }        
      }
    }

// MODAL

.modalBox{
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  .modalWrapper{
    display: table;
    width: 100%;
    height: 100%;
    .modalInner{
      display: table-cell;
      vertical-align: middle;
    }
    
    .singleInput{
      display: block;;
      padding: 15px 0;
      margin: 0 auto;
      max-width: 400px;
      width: 100%;
      label{
        display: block;
        color: #000;
        font-weight: 700;
        font-size: 16px;
        padding-bottom: 10px;
      }
      input{
        width: 400px;
        height: 35px;
      }
      textarea{
        width: 400px;
        height: 70px;
      }
    }
  }
  
}
